:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	color: #fbfbfe;
	--spacing: 10px;
	--accent-color: #00cadb;
	--input-bgcolor: #2b2a33;
	accent-color: var(--accent-color);
}

* {
	box-sizing: border-box;
}
html {
	background-color: #1c1b22;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing);
	padding: var(--spacing);
	justify-content: center;
	min-height: 100vh;
}

table {
	border-collapse: collapse;
}

button, .button {
	font-size: 1em;
	background: #2c2b32;
	font-weight: bold;
	color: inherit;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	&[disabled] {
		background-color: #222128;
		color: #75747a;
	}
	&:hover:not([disabled]) {
		background: #3b3a41;
		cursor: pointer;
	}
	text-decoration: none;
}

:where(a) { color: #5daeff; }
:where(a:visited) { color: #ae55ff; }

dialog:not([open]) { display: none; }
dialog::backdrop {
	background: #111111AA;
}
dialog {
	background: #1c1b22;
	color: inherit;
	padding: 15px;

	border: none;
	border-radius: 4px;
	filter: drop-shadow(0 0 0.75rem black);

	display: flex;
	flex-direction: column;
	gap: 15px;
}
textarea {
	font-family: inherit;
}
input:invalid {
	background: #681212;
}
:where(input, textarea, my-input) {
	background-color: var(--input-bgcolor);
	border: 1px solid #bfbfc9;
	border-radius: 4px;
	color: #fbfbfe;
	padding: 5px;
}
:is(input, textarea, my-input):focus-visible {
	border-color: transparent;
	outline: 2px solid var(--accent-color);
	outline-offset: -1px;
}
:where(input[type="checkbox"]) {
	width: 16px;
	height: 16px;
	border-color: #8f8f9d;
	border-radius: 3px;
	appearance: none;
	:where(&:checked) {
		appearance: auto;
	}
	:where(label:has(>&)) {
		align-items: center;
		display: flex;
		gap: .5em;
	}
}

my-input {
	display: block;
	word-wrap: anywhere;
}

li {
	line-height: 1.6;
}

.flex-c { display: flex; flex-direction: column; }
.flex-r { display: flex; flex-direction: row; }
.align-i-c { align-items: center; }
.gap { gap: var(--spacing); }

.flash-fade {
	animation: flash-fade 1.0s 1 ease-out;
}
@keyframes flash-fade {
	from { background-color: white; }
	to   {  }
}
