:root {
	font-size: 16px;
	color: #fbfbfe;
}
button {
	background: #2c2b32;
	font-weight: bold;
	color: inherit;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
}
button[disabled] {
	background-color: #222128;
	color: #75747a;
}
button:hover:not([disabled]) {
	background: #3b3a41;
	cursor: pointer;
}
body {
	background: #1c1b22;
	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;

	margin: 10px;
}

a {
	color: #5daeff;
}
a:visited {
	color: #ae55ff;
}

dialog:not([open]) { display: none; }
dialog::backdrop {
	background: #111111AA;
}
dialog {
	background: #1c1b22;
	color: inherit;
	padding: 15px;

	border: none;
	border-radius: 4px;
	filter: drop-shadow(0 0 0.75rem black);

	display: flex;
	flex-direction: column;
	gap: 15px;
}

input:invalid {
	background: #681212;
}
input, textarea, my-input {
  background-color: #23222b;
  border: 1px solid #7c7b82;
  border-radius: 4px;
  color: #fbfbfe;
  padding: 5px;
}
:is(input, textarea, my-input):focus-visible {
	border-color: transparent;
	outline: 2px solid #00ddff;
	outline-offset: -1px;
}

my-input {
	display: block;
	word-wrap: anywhere;
}

li {
	line-height: 1.6;
}
