:root {
	font-size: 16px;
	color: #fbfbfe;
}
button {
	background: #2c2b32;
	font-weight: bold;
	color: inherit;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
}
button[disabled] {
	background-color: #222128;
	color: #75747a;
}
button:hover:not([disabled]) {
	background: #3b3a41;
	cursor: pointer;
}
body {
	background: #1c1b22;
	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;

	margin: 10px;
}

p {
	margin: 0;
	padding: 0;
}
#list td > p {
	margin: 0 5px;
}

/* these rules make everything completely fill the cell they are in */
tr { height: 0px; /*this is ignored*/}
td { height: 100%; }
td > button { height: 100%; }

td {
	vertical-align: center;
	padding: 2px;
}

table {
	border-collapse: collapse;
}

td>button.arrow {
	padding: 0 8px;
}
.air_time {
	min-width: 100px;
}
a {
	color:white !important;
}
dialog::backdrop {
	background: #111111AA;
}
dialog {
	background: #1c1b22;
	color: inherit;
	padding: 15px;
	border: none;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	gap: 15px;
}
dialog:not([open]) { display: none; }

input:invalid {
	background: #681212;
}
input, textarea, my-input {
  background-color: #23222b;
  border: 1px solid #7c7b82;
  border-radius: 4px;
  color: #fbfbfe;
  padding: 5px;
}
:is(input, textarea, my-input):focus-visible {
	border-color: transparent;
	outline: 2px solid #00ddff;
	outline-offset: -1px;
}

#edit_fields my-input {
	display: block;
	word-wrap: anywhere;
	min-width: 300px;
}
#edit_fields td > * {
	margin: 0 5px;
}

[hidden] {
  display: none !important;
}

tr:first-child > td { padding-top: 0; }
tr:last-child > td { padding-bottom: 0; }
tr > td:first-child { padding-left: 0; }

tr:focus {
	background: #3b3a41;
	outline: none;
}

tr button u {
	text-decoration-line: none;
}
tr:focus button u {
	text-decoration-line: underline;
}
tr a {
	text-decoration-line: none;
}
tr:focus a {
	text-decoration-line: underline;
}

.episode_number {
	min-width: max-content;
}

#edit_dialog:not([data-mode=add]) .add, 
#edit_dialog:not([data-mode=edit]) .edit {
	display: none;
}

.flash-fade {
	animation: flash-fade 1.5s 1 ease-out;
}
@keyframes flash-fade {
    from { background-color: white; }
    to   {  }
}